{% extends "base.html" %}

{% block title %}
    CRM | Detail
{% endblock title %}

{% block content %}

    <hr>
    <div class="container">
        <h3> Details of {{details.first_name}} {{details.last_name}} </h3>
        <p>
            age of the lead: {{details.age}} <br>
            agent handling the lead: {{details.agent}} <br>
        </p>
        <hr>
        <a href=" {% url 'leads:leadUpdate' details.pk %} ">update lead</a>
        <a href=" {% url 'leads:leadDelete' details.pk %} ">delete lead</a>
    </div>
{% endblock content %}

</body>
</html>