<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads</title>
</head>
<body>
    <nav>
        <a href=" {% url 'leads:leadCreate' %} ">Create a lead</a>
    </nav>
    <div class="container">
        <h2> All leads list </h2>
        <p>
            <ul>
                {% for lead in leads %}
                    <a href="{% url 'leads:leadDetail' lead.pk %}"> <li> {{lead.first_name}} {{lead.last_name}} </li> </a>
                {% endfor %}
            </ul>
        </p>
    </div>

</body>
</html>