{% extends "base.html" %}

{% block title %}
    CRM | Update
{% endblock title %}

{% block content %}

    <div class="container">
        <h2>Update lead {{lead.first_name}} {{lead.last_name}} </h2>
        <a href="{{request.META.HTTP_REFERER}}"><button>cancel</button></a>
        <p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Create</button>
            </form>
        </p>
    </div>

{% endblock content %}

</body>
</html>