{% extends "base.html" %}

{% block title %}
    CRM | List
{% endblock title %}

{% block content %}

    <div class="container">
        <h2> All leads list </h2>
        <p>
        <ol class="list-group list-group-numbered">
            {% for lead in leads %}
                <li class="list-group-item"><a href="{% url 'leads:leadDetail' lead.pk %}">{{lead.first_name}} {{lead.last_name}}</a></li>
            {% endfor %}
        </ol>
        </p>
    </div>
{% endblock content %}

</body>
</html>