<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a href=" {% url 'leads:leadList' %} ">Home</a>
      <a href=" {% url 'leads:leadCreate' %} ">Create a lead</a>
      <a href="{% url 'leads:leadList' %}">Go Back</a>
    </nav>

    {% block content %} {% endblock content %}
  </body>
</html>
